@import "../../styles/variables";

.mainWrapper {
  display: grid;
  grid-gap: 1rem;
  @media (--max-desktop) {
  }

  @media (--min-desktop) {
    height: 80vh;
    padding: 20px;
    grid-template: "table map" "button map";
    grid-template-columns: 2fr 1fr;
    justify-content: space-around;
    overflow-y: hidden;
  }
}
